/* Сброс стилей */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

/* Сброс стилей для HTML5-элементов в старых браузерах */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Дополнительные сбросы стилей могут быть добавлены по вашему усмотрению */
@font-face {
   font-family: "Söhne";
   src: url(../fonts/TestSöhne-Buch.otf) format('opentype');
   font-weight: normal;
}
@font-face {
   font-family: "Söhne";
   src: url(../fonts/TestSöhne-Halbfett.otf) format('opentype');
   font-weight: 600;
}
@font-face {
   font-family: "Söhne";
   src: url(../fonts/TestSöhne-Kräftig.otf) format('opentype');
   font-weight: 500;
}
/*
  ========================================
  Дополнительно
  ========================================
*/
html,
body {
  height: 100%;
}

body {
  background-color: rgba(52,53,65,1);
  font-family: "Söhne", sans-serif;
  display: flex;
  flex-direction: column;
}
.main-page-container {
  display: flex;
  flex-grow: 1;
}
.main-content {
  width: calc(100% - 260px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*
  ========================================
  Стили
  ========================================
*/


h2 {
  display: inline-block;
  color: rgba(236,236,241,1);;
  font-size: 24px;
  line-height: 1.5;

}
h1 {
  color: rgba(236,236,241,1);
  font-size: 38px;
  font-weight: 700;

}
h1.common-logo {      
  text-align: center;                   /*LOGO Вдруг нужен будет h1 хз*/
  margin-top: 139px;
  margin-bottom: 64px;
}
a {
  color: #ececf1;
  text-decoration: none;
}
h5 {
  line-height: 20px;
  color: #a6acb9;
}


/*
  ========================================
  nav-bar
  ========================================
*/

.nav-bar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-width: 260px;
  background-color: #202123;
  padding: 8px;
}
.nav-bar h2 {
  color: #8e8ea0;
  font-weight: 500;
  font-size: 12px;
  padding: 12px;
  padding-bottom: 8px;
}

/*
  ========================================
  nav-bar-item
  ========================================
*/
.nav-bar-item-text {
  display: inline-block;
      font-size: 14px;

    line-height: 20px;
}

.nav-bar-item {
  display: flex;
  align-self: flex-start;
  gap: 11px;
  vertical-align: bottom;
  padding: 12px;
  border-radius: 6px;
}
.nav-bar-item:hover {
  background-color: #2a2b32;
}
.nav-bar-item.nav-bar-item-active {
  background-color: #343541;
}
.nav-bar img {
  width: 20px;
  height: 20px;
}


/*
  ========================================
  service
  ========================================
*/
.services-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
}
.service-main-content {
  width: calc(100% - 260px);
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*
  ========================================
  services-container
  ========================================
*/
.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/*
  ========================================
  Колонки
  ========================================
*/
.services-menu { 

  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  justify-content: center;

}

.btn-design {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100%;
  width: 100%;
  background-color: hsla(0,0%,100%,.05);
  transition: all 0.1s ease;
}
.services-menu-items {
  gap: 5px;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;

}
.services-menu-item {
  width: 100px;
  height: 100px;
}


.btn-design:hover {
  background-color: rgba(32,33,35,1);
}



/*
  ========================================
  Изображения-Кнопки
  ========================================
*/
.btn-design:hover img {
  transform: scale(1.05);
}

.services-menu-item img {                         /*Иконки*/
  border-radius: 32px;
  width: 52.5px;
  transition: all 0.05s ease-out;
}
.transparent-img{
  box-sizing: border-box;
  border: 1px solid rgba(236,236,241,1);
}

.services-page a {               /*Надписи под иконкой*/
  color: #a6acb9;
}
/*
  ========================================
  audio
  ========================================
*/
h1.audio-logo {
  margin-bottom: 10px;
}
.header-nav {
  display: flex;
  gap: 30px;
}
.header-nav a {
  color: #a6acb9;
}
.header-nav a.nav-active {
  color: #ececf1;
  border-bottom: 3px solid #ececf1;

}
.page-line-chart {
  margin: 40px 0;
  text-align: center;
  font-family: YSTextRegular,Arial,Helvetica,sans-serif;
}
.page-line-chart h5 {
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 20px;
  color: #a6acb9;
}
/*
  ========================================
  songs
  ========================================
*/
.songs h5 {
  margin: 0;
}
.songs {
  color: #ececf1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.song {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 5px;
}
.track-info {
  line-height: 20px;
  flex-wrap: wrap;
  display: flex;
  width: 150px;
  align-items: left; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали */
  flex-direction: column; /* Размещение элементов в столбик */
}
/*
  ========================================
  iframe  
  ========================================
*/
iframe {
  margin-bottom: 80px;
}
/*
  ========================================
  Tests
  ========================================
*/
 /* Form */
.form  {
  text-align: center;
  background-color: #2D384C;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 80px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
form input {
  background-color: #ececf1;
  width: 344px;
  height: 62px;
  box-sizing: border-box;
  padding: 20px 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #1E2732 ;
}
.submit-button {
  color: #ececf1;
  font-weight: 600;
  font-size: 16px;
  margin-top: 15px;
  background: linear-gradient(95.7deg, #19c37d, #1dc68f);
  width: 344px;
  height: 62px;
  border-radius: 10px;
  border: 1px solid #1E2732 ;
}
.submit-button:hover {
  color: #e8e8ed;
  background: linear-gradient(95.7deg, #0f844f, #129b5f);
}
.form-sign-in-text{
  margin-top: 20px;
  color: #fff;
}
.form-sign-in-text a {
  color: #19c37d;
}